body {
  overflow-x: hidden !important;
}

.active {
  color: blue !important;
}
.image-h{
animation-name: move;
animation-duration: 0.5s;
animation-iteration-count: infinite;
animation-direction: alternate;
}
@keyframes move {
  from{
margin-top:20px;
  }
  to{
margin-top: 0;
  }
}